button {
  width: 250px;
  height: 80px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 35px;
  color: crimson;
  border: 2px solid goldenrod;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background-color: aqua;

}

.boton-clic{
  background-color: rgb(23, 23, 83);
}

.boton-reiniciar {
  background-color: chartreuse;
}
